/**
  render something centered both vert and horiz

  Copied from http://html5devgal.wordpress.com/2013/05/29/vertically-and-horizontally-center-with-twitter-bootstrap-responsive/
*/

html, body{height:100%; margin:0;padding:0}

.container-fluid {
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
.row-fluid {
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}
.centering {
  float:none;
  margin:0 auto;
}
