---
title: CoderDojos i Sverige
---

<% url_list = {
  "Gotland" => "http://www.gotland-coderdojo.se/",
  "Helsingborg" => "http://www.creativelab.nu/coderdojo/",
  "Kalmar" => "http://kalmar.coderdojo.se",
  "Karlskrona" => "http://coderdojokarlskrona.se/",
  "Linköping" => "https://twitter.com/CoderDojoLkpg",
  "Lund" => "http://lund.coderdojo.se/",
  "Malmö" => "http://malmo.coderdojo.se",
  "Norrköping" => "http://coderdojonkpg.se/",
  "Ronneby" => "http://ronneby.coderdojo.se/",
  "Stockholm" => "http://coderdojostockholm.se/",
  "Söderköping" => "https://zen.coderdojo.com/dojo/699",
  "Växjö" => "http://vaxjo.coderdojo.se/",
  "Resten av världen" => "https://zen.coderdojo.com/",
} %>

<div class="row-fluid">
  <div class="centering">

    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">CoderDojos i Sverige</h3></div>
        <div class="panel-body">
          <% url_list.each_pair do |city, href| %>
            <div>
            <h4><%= city %></h4>
            <a href="<%= href %>" target="_blank"><%= href %></a>
          </div>
        <% end %>
        </div>
        <div class="panel-footer"> <a href="http://github.com/coderdojo-malmo/coderdojo.se/">Contribute!</a></div>
      </div>
    </div>

  </div>
</div>
